body {
  font-family: sans-serif;
}

#error-message{
  color:red;
  display: none;
}

.par{
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px;
  width: 600px;
  height: 200px;
  margin-bottom: 15px;
  font-size: 0.9em;
}

/* button{
  width: 215px;
}

section{
  margin: auto;
  border-radius: 10px;
  border: 1px solid black;
  width: 230px;
  padding: 20px;
} */

span:hover{
  cursor:pointer;
}

h1 {
  text-align: center;
}
